<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div><strong>Id: </strong>{{userInfo.id}}</div>
<div><strong>First Name: </strong>{{userInfo.firstName}}</div>
<div><strong>Last Name: </strong>{{userInfo.lastName}}</div>
<div><strong>Email: </strong>{{userInfo.email}}</div>
<div><strong>Password: </strong>{{userInfo.password}}</div>
<div><strong>Age: </strong>{{userInfo.age}}</div>
<div><strong>City: </strong>{{userInfo.city}}</div>

<button class="btn">Delete</button>

<!--<form action="/userInfo" method="post">-->
<!--    <input type="submit" value="Delete">-->
<!--</form>-->

<script>

    btn = document.getElementsByClassName('btn')[0];

    btn.addEventListener('click', (e) => {
        const id = location.href.split('/').pop();

        fetch(`/users/${id}`,
                {method: "DELETE"});
    });

</script>

</body>
</html>